# 开发环境文件
.env
*.local
*.log
*.tmp
*.swp

# 依赖目录
node_modules/
venv/
__pycache__/

# 媒体文件
media/
thumbnails/
instance/
x86_build_venv/

# 系统文件
.DS_Store
.idea/
Thumbs.db

# 编译输出
dist/
build/

# Docker镜像文件
*.tar
*.tar.gz

# 数据库文件
*.db
backdata/

# 日志文件
logs/

# 临时文件
tmp/
temp/